
        
        html, body {
	        margin: 0px;
	        padding: 0;
	        height: 100%;
        }
            .nav {
                font-family: futura; 
                background-color: black;
                opacity: .8;
                width: auto;
                height: auto;
                color: white;
                text-align: center;
                display: block;
                padding: 10px;
                    
            }
            .nav
            ul
            li
             {
                list-style-type: none;
                display: inline-block;
                
                
                
                
            }
            .nav
            li {
	            /*border: 2px solid;*/
	            margin-left: 10px;
	            margin-right: 10px;
            }
            .nav
            a {
	            text-decoration: none;
	            color: white;
	            
            }
            .nav
            a:hover {
	            color: gold;
            }
            .nav
            ul {
	            margin: 0;
            }
            .frontimage {
                
                width: auto;
                background-color: grey;
                text-align: center;
                color: white;
                font-family: futura;
                z-index: 0;
                height: 100%;
               
                
            }
            .frontimage .container {
	            height: 100%;
                    
            }
            .whole {
                background-color: lime;
                border: 4px solid;
            }
            
            
            
            
                
             
            
            /* navigation */
            .container {
	            width: 960px;
	            margin: 0 auto;
                    /*border: 2px solid;*/
            }
            
            /* title logo */
            
            .logo {
	            position: relative;
	            top: 30%;
	            -webkit-transform: translateY(-50%);
                    /*border: 2px solid;*/
            }
            
                .frontimage
            h3 {
	            /*background-color: lime;*/
	            width: 400px;
	            margin: auto;
	            letter-spacing: 2px;
            }
                
            .frontimage
            h1
             {
                font-size: 60px;
                /*background-color: pink;*/
                width: 600px;
                margin: auto;
                margin-top: 0px;
                z-index: 1;
                letter-spacing: 2px;
            }
            .frontimage
            h2 {
                font-size: 40px;
                font-style: oblique;
                letter-spacing: 2px;
                /*background-color: cyan;*/
                margin-top: -40px;
                width: 400px;
                margin: auto;
                z-index: 1;
                
            }
            /* menu page */
            .menu {
                font-family: Futura;
                
                background-color: darkgray;
                height: 100%;
                
                
                
            }
            .menu
            h1 {
                /*background-color: maroon;*/
	            display: inline-block;
	            float: left;
	            width: auto;
                font-size: 100px;
                font-family: futura;
                position: relative;
                /*padding-left: 30px;*/
                
                
            }
            
            /* ABOUT */
            .menutopbar{
                background-color: gold;
                border: 2px solid transparent;
                
            }
            
            .menutopbar
             	{
             	display:block
             	}
             	.menutopbar
             	 h1 {
	             	font-size: 75px;
	             	margin-left: 100px;
	             	}
            
            
                       
            #courses {
			    /*border: 2px solid;*/
	            display: inline-block;
			    height: 200px;
			    margin: 10px;
			    position: relative;  
			    margin-left: 200px;
			    top: -20px;
			}
			
			
			
			#courses
			ul {
			    /*border: 2px solid;*/
			    width: 300px;
			    padding: 20px;
			    float: left;
			    
			   
			    
			    
			}
			
			#courses
			li
			{
			    /*border: 2px solid;*/
			    list-style-type: none;
			    font-size: 50px;
			    width: 300px;
			    padding: 10px;
			    
			}
			
			#courses
			ul
			li
			a {
			    text-decoration: none;
			    color: black;
			    
			}
			
			#courses
			ul
			li
			a:hover {
			color:  #ff256e
			
			    
			}
            
            .submenu1
            {
	            
	            
	            width: auto;
	            height:100%;
	            background-color: #fffacc;
	            margin: 0;
	            top: 500px;
	            display: block;
	            text-align: center;
	             
	            
	            
            }
            .submenu1
            ul
            {
	            border: 2px solid black;
	            display: inline-block;
	            margin:  50px;;
	            padding: 10px;
	            text-align: center;
	            
	            
	            
            }
            .submenu1
            ul
            li
            {
	            font-size: 30px;
	            list-style-type: none;
            }

			.aboutdescription
			{
				/*background-color: pink;*/
				margin-left: 100px;
				margin-right: 100px;
				margin-top: 100px;
				font-size: 20px;
				line-height: 40px;
				letter-spacing: 2px;
			}
			.submenu2
            {
	            
	            
	            width: auto;
	            height:100%;
	            margin: 0;
	            top: 500px;
	            display: block;
	            text-align: center;
	             
	            
	            
            }
			.menu,
			#about
			{background-color: #fff7c8;}
			
			.menu,
			#contact
			{background-color: #fff7c8}
			
			.contactlist {
				/*border: 2px solid black;*/
				text-align: center;
			}
			.contactlist
			li {
				background-color: orange;
				list-style-type: none;
				display: inline-block;
				padding: 50px;
				width: 400px;
				margin: 100px;
				border-radius:  10px;
				font-size: 40px;
				
			}
			.menu,
			#makeareservation {
				background-color: #fff3ca; 
			}
			
			
			
             	            
            
            
            /* ........................................................ RESERVATION  ............................................................ */
            
            
             /* ........................................................ RESERVATION END ............................................................ */
           
            
                
            
            
            
            
            
            
            
         
 